[package]
name = "chorrosion-domain"
version = "0.1.0"
edition = "2021"
license.workspace = true

[dependencies]
chrono = { workspace = true }
serde = { workspace = true }
uuid = { workspace = true }
